.home {
  background: url(http://hd-wall-papers.com/images/wallpapers/dark-images/dark-images-9.jpg) no-repeat center center;
  background-size: cover;
  padding: 400px;
}

.general-text {
  color: white;
  font-family: CenturyGothic;
}

.about {
  background-color: #2c343b;
  padding: 100px;
}

.about-text {
  font-size: 24px;

}

.projects {
  background-color: #0A1612;
  padding: 160px;
}

.contact {
  background-color: #2c343b;
  padding: 160px;
}

.navbar-inverse {
  background-color: #2C343B
}

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #0A1612
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #FFFFFF
}

.dropdown-menu {
  background-color: #2C343B
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #FFFFFF
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #000000
}

.navbar-inverse .navbar-brand {
  color: #E8E8E8
}

.navbar-inverse .navbar-brand:hover {
  color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a {
  color: #999999
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #E8E8E8
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #E8E8E8
}
